@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
    background-color: rgba(24, 24, 24, .7);
    color: #fff;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

p#clock
{
    text-align: center;
    font-size: 5em;
    width: 100%;
    font-family: 'Noto Sans Japanese', serif;
}
